@import url("./addPlayers.css");
@import url("./playerCards.css");
@import url("./topInfo.css");
@import url("./loader.css");
@import url("./alertPopup.css");
@import url("./amountInfiltrators.css");
@import url("./startedPlayers.css");

body {
	font-family: poppins;
	margin: 0;
}

main {
	margin: 8px;
}

h1 {
	margin-top: 25%;
}